/* ------------------ GLOBAL ELEMENTS ------------------ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ------------------ MAIN APP ELEMENT ------------------ */
.appLogo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogo-spin infinite 20s linear;
  }
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appFullDiv {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appInsideDiv {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

/* ------------------ TABLE ELEMENT ------------------ */
.tableFullDiv {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 0 15px;
}

.tableHeader {
  display: flex;
  justify-content: space-evenly;
}

.tableHeaderRow {
  font-size: 17px;
  background-color: white;
  border-style: solid;
  border-color: black;
  color: black;
  border-width: 1px;
  width: 100px;
}

.tableData {
  display: flex;
  justify-content: space-evenly;
}

.tableDataRow {
  font-size: 17px;
  width: 100px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
