/* ------------------ GLOBAL ELEMENTS ------------------ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.linkText {
  text-decoration: none;
  color: black;
}

.linkText:hover {
  text-decoration: underline;
  color: purple;
}

/* ------------------ NAVBAR ELEMENT ------------------ */
.navBarFullDiv {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 10vh;
  background-color: rgba(234, 234, 234, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.navBarLeft {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navBarRight {
  width: 15%;
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
  font-size: 25px;
}

/* ------------------ MAIN APP ELEMENT ------------------ */
.appLogo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogo-spin infinite 20s linear;
  }
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appFullDiv {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appInsideDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  min-height: 100vh;
  padding-top: 15vh;
}

/* ------------------ TABLE ELEMENT ------------------ */
.tableFullDiv {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 0 15px;
  text-align: center;
}

.tableHeader {
  border-spacing: 0;
  display: flex;
  justify-content: space-evenly;
}

.tableHeaderRow {
  font-size: 17px;
  background-color: white;
  border-style: solid;
  border-color: black;
  color: black;
  border-width: 1px;
  width: 120px;
}

.tableData {
  display: flex;
  justify-content: space-evenly;
}

.tableDataRow {
  font-size: 17px;
  width: 120px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

/* ------------------ DASHBOARD ELEMENT ------------------ */
.dashboardFullDiv {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 60vh;
  padding: 15px;
  border-radius: 5px;
}

.dashboardRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 45%;
  margin: 5px 0;
}

.dashboardTable {
  background-color: #282c34;
  margin: 10px;
  width: 30%;
  height: 95%;
}
